<!DOCTYPE html>
<html>
<head>
    <title>فروشگاه</title>
    <!--<link type="text/css" rel="stylesheet" href="{{static_url('css/bootstrap.css')}}">-->
    <!--<link type="text/css" rel="stylesheet" href="{{static_url('css/bootstrap-theme.css')}}">-->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="col-md-12 col-sm-12">
            <img src="/static/images/header.png" class="img-responsive back">
            <span class="title_txt">فروشگاه خشکبار</span>
        </div>
    </header>
    <div class="container">
        ss
    </div>

    <script src="/static/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>