<!DOCTYPE html>
<html>
<head>
    <title>فروشگاه</title>
    <!--<link type="text/css" rel="stylesheet" href="{{static_url('css/bootstrap.css')}}">-->
    <!--<link type="text/css" rel="stylesheet" href="{{static_url('css/bootstrap-theme.css')}}">-->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div>

    </div>
</body>
</html>